* {
  box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family:"Noto Serif JP";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(school.jpg);
  background-size: cover;
  color: black;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  font-size: 16px;
  marginbottom: 40px;
}

.btn-wrapper {
  text-align: center;
}
  
.btn-wrapper p {
  margin-bottom: 20px;
}
  
.btn {
  padding: 8px 24px;
  color: black;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}
  
.btn:hover {
  opacity: 1;
}

header {
  height: 65px;
  width: 100%;  
  background-color: #e0ffff;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}
  
.header-right {
  float: right;
  magin-right: -25px;
}
  
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}
  
.header-right a:hover{
  background-color: #e6ffff;
}

.lesson-wrapper {
  height: 420px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.lesson-weapper a {
  text-align: center;
}

.sonota {
  height: 400px;
  padding: 10px 15px; 
  background-color: #ffffe0;
}

.hyoshi {
  height: 370px;
  width: 263px;  
}

.hyoshi-text {
  font-text: 20px;
  color: black;
}

.hyoshi,.hyoshi-text {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}

.lesson {
  float: left;
  width: 33%;
  margin-top: 30px;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 37%;
  width: 100%;
  color: black;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

footer a {
  align: center;
}

footer img{
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.cp_cont {
	height: 65vh;
	display: none;
}

.cp_offcm01 {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-block;
}

.cp_offcm01 .cp_menu {
	position: fixed;
	top: 0;
	right: -100vw;
	width: 250px;
	height: 100%;
	cursor: pointer;
	-webkit-transition: 0.53s transform;
	        transition: 0.53s transform;
	-webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	        transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	background-color: #607D8B;
	opacity: 0.8;
}
.cp_offcm01 .cp_menu ul {
	margin: 0;
	padding: 0;
}
.cp_offcm01 .cp_menu li {
	list-style: none;
}
.cp_offcm01 .cp_menu li a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.cp_offcm01 #cp_toggle01 {
	position: absolute;
	display: none;
	opacity: 0;
}
.cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
	-webkit-transform: translateX(-100vw);
	        transform: translateX(-100vw);
}

.cp_offcm01 #cp_toggle01 ~ label {
	display: block;
	padding: 0.5em;
	cursor: pointer;
	-webkit-transition: 0.5s transform;
	        transition: 0.5s transform;
	-webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	        transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	text-align: center;
	color: #333333;
}
.cp_offcm01 #cp_toggle01:checked ~ label {
	-webkit-transform: translateX(-250px);
	        transform: translateX(-250px);
}
.cp_offcm01 #cp_toggle01 ~ label::before {
	font-family: 'FontAwesome';
	content: '\f0c9';
	font-size: 2em
}
.cp_offcm01 #cp_toggle01:checked ~ label::before {
	content: '\f00d';
}

.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
  .lesson {
    width: 80%;
    margin-bottom: 30px;
  }
  
  .lesson-wrapper {
    height: 990px;
  }
  
  footer {
    text-align: center;
  }
}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }  
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }
  
 .cp_cont {
    display: block;
  }
  
  .top-wrapper .btn {
    width: 100%;
  }
  
  .top-wrapper {
    text-align: center;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
  }
  
  .top-wrapper p {
    font-size: 12px;
  }
  
  .sonota {
    width: 100%;
  }
  
  .hyoshi {
    width: 100%;
    height: auto;
  }
  
  .lesson {
    width: 100%;
  }
  
  .lesson-wrapper {
    height: 1150px;
  }
  
  .massage-wrapper .btn {
    width: 100%;
  }
}
